*{margin:0;padding:0;box-sizing:border-box;font-family:Arial;}

body{background:#f5f5f5;}

nav{
    background:#222;color:#fff;
    display:flex;justify-content:space-between;
    align-items:center;padding:15px 50px;
}
nav ul{display:flex;gap:20px;list-style:none;}
nav a{text-decoration:none;color:white;font-weight:bold;}
nav a:hover{color:#00aaff;}

.home{
    display:flex;justify-content:space-between;
    align-items:center;padding:60px;
}
.home .content h1{font-size:40px;margin-bottom:10px;}
.home .content span{color:#00aaff;}

.btn{
    display:inline-block;background:#00aaff;color:white;
    padding:10px 20px;margin-top:10px;border-radius:5px;
}
.btn:hover{background:#0077cc;}

footer{
    text-align:center;padding:15px;background:#222;color:white;
    position:fixed;bottom:0;left:0;width:100%;
}
.profile-img {
    width: 230px;
    height: 230px;
    object-fit: cover;
    border-radius: 10px; /* square shape */
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.section { padding: 60px; }
.skill-list li { margin: 8px 0; }

.project-box {
    background: white;
    padding: 20px;
    margin: 15px 0;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.contact-form input, .contact-form textarea {
    width: 100%; padding: 10px;
    margin: 8px 0; border-radius: 5px;
    border: 1px solid #ccc;
}
.contact-form button { width: 100%; }

.social a { text-decoration:none; color:#0077cc; font-weight:bold; }
.social a:hover { color:#00aaff; }
/* Hamburger Menu */
.menu-icon {
    font-size: 26px;
    cursor: pointer;
    display: none;
}

/* When screen is small */
@media screen and (max-width: 768px) {
    nav ul {
        position: absolute;
        top: 60px;
        right: 0;
        background: #222;
        width: 200px;
        flex-direction: column;
        padding: 15px;
        display: none;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        margin: 12px 0;
    }

    .menu-icon {
        display: block;
        color: white;
        font-weight: bold;
    }
}
